:root {
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* font-size: 50%; */
}

body {
	line-height: 1.6;
    /* background-color: black; */
}

#container {
    height: 100dvh;
    width: 100dvw;
    max-height: 100dvh;
    max-width: 100dvw;
    overflow: hidden;
    background-color: grey;
}

.counter__current {
    font-size: 8rem;
}

.counter__persec {
    font-size: 4rem;
}

.playarea {
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.playarea__clicker {
    height: 50%
}